<div class="float-right">
    <small>
      Το καλάθι σας:
      <span *ngIf="cart.itemCount > 1">
        {{ cart.itemCount }} αντικείμενα
        {{ cart.cartPrice | currency:"USD":"symbol":"2.2-2" }}
      </span>
      <span *ngIf="cart.itemCount == 1">
        {{ cart.itemCount }} αντικείμενο
        {{ cart.cartPrice | currency:"USD":"symbol":"2.2-2" }}
      </span>
      <span *ngIf="cart.itemCount == 0">
        (άδειο)
      </span>
    </small>
    <button class="btn btn-sm bg-dark text-white"
        [disabled]="cart.itemCount == 0" routerLink="/cart">
      <i class="fa fa-shopping-cart"></i>
    </button>
  </div>
  