<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <img src="../../assets/logo.png" alt="" class="logo">
        </div>
    </div>
</div>

<div *ngIf="orderSent" class="m-2 text-center">
    <h2>Ευχαριστούμε!</h2>
    <p>Ευχαριστούμε για την παραγγελία σας!</p>
    <p>Θα αποστείλουμε τα προϊόντα σας το συντομότερο δυνατό.</p>
    <button class="btn btn-primary" routerLink="/store">Επιστροφή στο κατάστημα</button>
</div>
<form *ngIf="!orderSent" #form="ngForm" novalidate (ngSubmit)="submitOrder(form)" class="m-2">
    <div class="form-group">
        <p *ngIf="submitted && name.invalid" class="text-danger">
            Παρακαλούμε πληκτρολογήστε το όνομά σας
        </p>
        <label>Όνομα</label>
        <input class="form-control" #name="ngModel" name="name" [(ngModel)]="order.name" required />
    </div>
    <div class="form-group">
        <p *ngIf="submitted && address.invalid" class="text-danger">
            Παρακαλούμε πληκτρολογήστε την διεύθυνσή σας
        </p>
        <label>Διεύθυνση</label>
        <input class="form-control" #address="ngModel" name="address" [(ngModel)]="order.address" required />
    </div>
    <div class="form-group">
        <p *ngIf="submitted && city.invalid" class="text-danger">
            Παρακαλούμε πληκτρολογήστε την πόλη σας
        </p>
        <label>Πόλη</label>
        <input class="form-control" #city="ngModel" name="city" [(ngModel)]="order.city" required />
    </div>
    <div class="form-group">
        <p *ngIf="submitted && state.invalid" class="text-danger">
            Please enter your state
        </p>
        <label>State</label>
        <input class="form-control" #state="ngModel" name="state" [(ngModel)]="order.state" required />
    </div>
    <div class="form-group">
        <p *ngIf="submitted && zip.invalid" class="text-danger">
            Παρακαλούμε πληκτρολογήστε τον ταχυδρομικό κώδικα
        </p>
        <label>Ταχυδρομικός κώδικας</label>
        <input class="form-control" #zip="ngModel" name="zip" [(ngModel)]="order.zip" required />
    </div>
    <div class="form-group">
        <p *ngIf="submitted && country.invalid" class="text-danger">
            Παρακαλούμε πληκτρολογήστε τη χώρα σας
        </p>
        <label>Χώρα</label>
        <input class="form-control" #country="ngModel" name="country" [(ngModel)]="order.country" required />
    </div>
    <div class="text-center">
        <button class="btn btn-secondary m-1" routerLink="/cart">Πίσω</button>
        <button class="btn btn-primary m-1" type="submit">Ολοκλήρωση παραγγελίας</button>
    </div>
</form>