.logo {
    margin: 10px;
    width: 80%;
}

* {
    box-sizing: border-box;
}

/* Style the search field */
#search {
    padding-top: 10px;
}
#search input[type=text] {
    padding: 7px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}

/* Style the submit button */
#search button {
    float: left;
    width: 10%;
    padding: 7px;
    background: #2196F3;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

#search button:hover {
    background: #0b7dda;
}

/* Clear floats */
#search::after {
    content: "";
    clear: both;
    display: table;
}


#support {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
#headphones{
    display: inline-block;
    width:20%;
    font-size: 2rem;
    margin-right: 6px;
}
#support-text{
    text-align: left;
    display: inline-block;
    width:80%;
}
#login {
    padding-top: 10px;
    text-align: center;
}

#cart{
    padding-top: 10px;
}

#menu button {
    padding: 4px;
    margin: 6px 14px 6px 0;
    border:1px solid #343a40;
    color:#fff;
    background-color:transparent;
}

#menu button:hover, #menu button:focus {
    border:1px solid #888;
}

#books img {
    height:230px;
    width: auto;
}

#books h4 {
    font-size: 18px;
}