<div class="container-fluid">

    <div class="row" id="topbar" style="display: flex;flex-wrap: wrap;align-items: center;background-color: #343a40; color: white;">
        <div class="col-12">
            <img src="../../assets/logo.png" alt="" class="logo">
        </div>
    </div>
</div>

<div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="errorMessage != null">
    {{errorMessage}}
</div>
<div class="p-2">
    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
        <div class="form-group">
            <label>Όνομα</label>
            <input class="form-control" name="username" [(ngModel)]="username" required />
        </div>
        <div class="form-group">
            <label>Κωδικός</label>
            <input class="form-control" type="password" name="password" [(ngModel)]="password" required />
        </div>
        <div class="text-center">
            <button class="btn btn-secondary m-1" routerLink="/">Πίσω</button>
            <button class="btn btn-primary m-1" type="submit">Log In</button>
        </div>
    </form>
</div>
